.form-group.project-visibility-level-holder
  = f.label :select_feed, class: 'control-label' do
    RSS Source
  .col-sm-10
    - rss_child_categories.each do |level|
      .radio
        = f.radio_button :select_feed, level.id, checked: (select_feed == level.id)
        = label :select_feed, level.id do
          = content_tag :i, nil, class: 'icon-rss'
          .option-title
            = level.name
