%h3.page-title
  Add Service Integrations
%div
  .pull-right
    = link_to "mailto:369Lab@gmail.com?subject=New suggestion to poqbod by #{current_user.name}", class: "btn btn-primary", title: "New suggestion to poqbod" do
      %i.icon-bullhorn
      Feedback
    &nbsp;
  %p.light
    poqbod.com is most useful when you can see everything network information that you care about.<br>
    Integrations let you automatically pull information and activity from outside tools into poqbod.com in a way that's timely, relevant, and searchable. Or, make your own!
%hr
.row
  - Gitlab.config.services.each do |service|
    - unless service[1]["enable"] == false
      = render "services/item/#{service[0].to_s}", service: nil
  - @rss_categories.each do |category|
    - unless current_user.services.any?{|service| service.provider.include? category.id.to_s + "_"}
      = render "services/item/rss_feed", category: category

- if @services.count > 0
  %br
  %br
  %h3.page-title
    Connected Services
  %p.light
    Here is connected and verification services, you can click "edit" to change the properties, or delete it at edit page.
  %hr
  .row
    - for service in @services
      = render "services/item/#{service.provider}", service: service
    - @rss_categories.each do |category|
      - if current_user.services.any?{|service| service.provider.include? category.id.to_s + "_"}
        = render "services/item/rss_feed}", category: category
