.project-edit-container
  .project-edit-errors
    = render 'services/errors'
  .project-edit-content
    = form_for @service, url: service_path, html: { class: 'form-horizontal' } do |f|
      .row
        .col-md-12
          %h3.page-title
            = image_tag image_path("services/#{@service.provider}.png"), class: "avatar s32"
            = connected_info(@service)
            .pull-right
              = link_to "Disconnect #{@service.info.name}", service_path(@service), class: "btn btn-remove", :data => { :confirm => "Disconnect #{@service.provider}?" }, :method => :delete
          %hr
          .activities
            = render 'dashboard/activities'
