= link_to "#", class: "event_service_filter_link", id: "#{service.id}_event_filter" do
  .dash-project-access-icon
    = image_tag service_avatar(service)
  %span.str-truncated
    %span.namespace-name
      - if service.service_name != 'RssFeedService'
        = service.info.name
        \/
    %span.project-name.filter-title
      = service_name(service)
