.user_new
  = form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|
    -if @user.errors.any?
      #error_explanation
        %ul.unstyled.alert.alert-danger
          - @user.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      %legend Account
      .form-group
        = f.label :name, class: 'control-label'
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required
      .form-group
        = f.label :username, class: 'control-label'
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required
      .form-group
        = f.label :email, class: 'control-label'
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required

    .form-actions
      - if @user.new_record?
        = f.submit 'Create user', class: "btn btn-create"
        = link_to 'Cancel', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit 'Save changes', class: "btn btn-save"
        = link_to 'Cancel', admin_user_path(@user), class: "btn btn-cancel"
