%ul
  = nav_link(path: 'dashboard#show', html_options: {class: 'home'}) do
    = link_to root_path, title: "Home", class: 'has_bottom_tooltip', 'data-original-title' => 'Home' do
      %i.icon-anchor
  = nav_link(path: 'dashboard#stars', html_options: {class: 'home'}) do
    = link_to dashboard_stars_path, title: "Star", class: 'has_bottom_tooltip', 'data-original-title' => 'Star' do
      %i.icon-star
  = nav_link(path: 'dashboard#archive', html_options: {class: 'home'}) do
    = link_to dashboard_archive_path, title: "Already read", class: 'has_bottom_tooltip', 'data-original-title' => 'Already read' do
      %i.icon-archive
  = nav_link(path: 'dashboard#analytics', html_options: {class: 'home'}) do
    = link_to dashboard_analytics_path, title: "Analytics", class: 'has_bottom_tooltip', 'data-original-title' => 'Analytics' do
      %i.icon-bar-chart
  = nav_link(path: 'dashboard#discovery', html_options: {class: 'home'}) do
    = link_to dashboard_discovery_path, title: "Discovery", class: 'has_bottom_tooltip', 'data-original-title' => 'Discovery' do
      %i.icon-th