- if event.proper?
  .event-item{class: "#{event.body? ? "event-block" : "event-inline" }"}
    %span.cgray.pull-right
      #{time_ago_with_tooltip(event.created_at)}

    = cache event do
      = image_tag event.post.author.avatar, class: "avatar s24", alt:''

      = render "events/event/common", event: event

