.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action_name}= event_action_name(event)

  %strong= gfm event.post.title
  at
  = event.service.provider
- if event.post.description
  .event-body
    .event-note
      = event.post.description
