!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: @title
  %body{class: "#{app_theme} application", :'data-page' => body_data_page }
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: @title
    = render "layouts/flash"
    = render "events/event_last_unread"
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/nav/dashboard'

    .container
      .content= yield

    %a{:id=>"go_top",:class=>"go_top", :title=>"back to top", :href=>"#"}
      &#8679;
